* body{
    background-color: black;
}
h1 {
    color: white;
    font-size: 3rem;
  }
  .motivationrizz{
    width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  color: white;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  
  }
  .poetic {
    border: 5px solid white;
    width: 100%;
  }
  